@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="row">
    <div class="d-flex justify-content-center w-100">
        <form enctype="multipart/form-data" id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2 class="register-brand-name">MicroSocial</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="nume@exemplu.com" />
                <label asp-for="Input.Email">Email</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.FirstName" class="form-control" aria-required="true" placeholder="Prenume" />
                <label asp-for="Input.FirstName">Prenume</label>
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.LastName" class="form-control" aria-required="true" placeholder="Nume de familie" />
                <label asp-for="Input.LastName">Nume de Familie</label>
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <textarea asp-for="Input.Description" class="form-control" aria-required="true" placeholder="Descriere"></textarea>
                <label asp-for="Input.LastName">Descriere</label>
                <span asp-validation-for="Input.Description" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Input.ProfileVisibility" class="form-label">Vizibilitate Profil</label>
                <select class="form-control" asp-for="Input.ProfileVisibility">
                    <option value="public">public</option>
                    <option value="privat">privat</option>
                </select>
                <span asp-validation-for="Input.ProfileVisibility" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Input.ProfilePicture">Incarcă Imaginea de Profil</label>
                <input asp-for="Input.ProfilePicture" class="form-control" type="file" />
                <span asp-validation-for="Input.ProfilePicture" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Parolă" />
                <label asp-for="Input.Password">Parolă</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Parolă" />
                <label asp-for="Input.ConfirmPassword">Confirmare Parolă</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Înregistrare</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
